<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Chatbot UI</title>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
<!-- Integration du fichier style.css -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> 
</head>
<body>

<div class="chatbot-ui">
  <div class="chatbot-header">Gerthe_IA ( Mode : {{ session_option }} )</div>
  <!-- Les options du module Gerthe_IA -->
  <form method="POST" action="{{ url_for('type_module')}}">
    <label for="options" style="color: #6FBC55; font-size: 0.9rem;">&nbsp;&nbsp;&nbsp;&nbsp;  Module :</label>
    <select id="options" name="options">
      {% for option in options_module %}
        <option value="{{ option }}" {% if option == session_option %}selected{% endif %}>{{ option }}</option>
      {% endfor %}
    </select>
    <span>  <input type="submit" value="save" /></span>
  </form>
  <!---
   <form method="POST" action="/type_module">
    <label for="options" style="color: #6FBC55; font-size: 0.9rem;">&nbsp;&nbsp;&nbsp;&nbsp;  Historique :</label>
    <select id="options" name="options">
        <option value="standard">Titre chat 1</option>
        <option value="analyste">Titre chat 2</option>
    </select>
    <span>  <input type="submit" value="save" /></span>
  </form>
  -->
  <div class="chatbot-section chatbot-input">
    <div class="chatbot-title">Input</div>
    <!-- Le formulaire pour la question de l'utilisateur -->
    <form method="post" autocomplete="off" id="form">
      <input type="text" name="question" id="question" placeholder="Posez-moi votre question ici ">
      <!-- <textarea rows="1" class="auto_height" name="question" placeholder="Posez-moi votre question ici" onInput="auto_height(this)"></textarea> -->
      <button type="submit">OK</button>
    </form>
  </div>

  <div class="chatbot-section chatbot-output">
    <div class="chatbot-title">Output</div>
    <p hidden id="response">{{ response }}</p>
    <p class="output-highlight" id="typedtext">
      <center><div class="lds-dual-ring" style="display: none;"></div></center>
      <!-- affiche la reponse de GERTHE IA -->
    </p>
  </div>
</div>

<script src="{{ url_for('static', filename='js/main.js')}}"></script>
<script>
  var form = document.querySelector('form');
  var loader = document.querySelector('.lds-dual-ring')
  var posturl = form.action
  posturl = posturl.split('/'); 
  posturl = posturl[posturl.length - 1];
  
  if(posturl == "chatme") {
    form.addEventListener('submit', event => {
        var speed = 30;
        var p = document.querySelector('#typedtext');
        loader.style.display = 'block';
        sendData(form, loader, "{{ url_for('api_query')}}", p, speed);
        event.preventDefault();
      })
  }

  console.log(posturl)

  // var speed = 30;
  // var p = document.querySelector('#typedtext');
  // var response = document.querySelector('#response');
  // setTimeout(function(){
  //     p.style.display = "inline-block";
  //     typeEffect(response, p, speed);
  //   }, 1000);
</script>
</body>
</html>